<!DOCTYPE HTML>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="ie"> <![endif]--> 
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
    <title>poetdb.com - A Poetry Database</title>
    <meta name="description" content="A Poetry Database created by Joshua Rincon"/>
	
	<!-- CSS -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
	<link rel="stylesheet" type="text/css" href="js/customScrollbar/jquery.mCustomScrollbar.css" />
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	
	<!-- SCRIPTS -->
	<script type="text/javascript" src="js/jquery/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="js/jquery/jquery-ui-1.10.1.custom.min.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="js/customScrollbar/jquery.mCustomScrollbar.min.js"></script>

	<!-- CUSTOM SCRIPTS FOR THIS PAGE -->
	<script type="text/javascript">
		$(document).ready(function() {

			//ACTIVATE TEXT SCROLLBAR IF NEEDED
			$('#legal').mCustomScrollbar();

		});
	</script>

</head>


<body>

	<!-- LEGAL -->
	<div id="legal">
		<span class="title">POETDB.COM WEBSITE. LEGAL INFO</span><br/>
		<p><small>(1) Introduction
		<br/>
		This disclaimer governs your use of our website; by using our website, you accept this disclaimer in full.   If you disagree with any part of this disclaimer, you must not use our website.
		<br/><br/>
		(2) Intellectual property rights
		<br/>
		Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website.  Subject to the licence below, all these intellectual property rights are reserved.
		<br/><br/>
		(3) Licence to use website  
		<br/>
		You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions below.
		<br/>
		Without permission, you must not:
		<br/>
		(a) republish material from this website (including republication on another website);
		<br/>
		(b) sell, rent or otherwise sub-license material from the website;
		<br/>
		Where content is specifically made available for redistribution, it may only be redistributed only as agreed.</small></p>
	</div>

</body>
</html>



