<!DOCTYPE HTML>
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]--> 
<!--[if IE 9 ]>    <html lang="en" class="ie"> <![endif]--> 
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<title>Typeface - Minimal Html/jQuery template by pezflash</title>
	<meta name="description" content="Html - jQuery template by pezflash"/>
	<meta name="keywords" content=""/>
	<meta name="robots" content="index, follow"/>
	
	<!-- CSS -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" media="all">
	<link rel="stylesheet" type="text/css" href="js/tipsy/tipsy.css" />
	<link rel="stylesheet" type="text/css" href="js/prettyPopin/prettyPopin.css" />
	<link rel="stylesheet" type="text/css" href="css/styles.css" />
	
	<!-- SCRIPTS -->
	<script type="text/javascript" src="js/jquery/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="js/jquery/jquery-ui-1.10.1.custom.min.js"></script>
	<script type="text/javascript" src="js/screenfull/screenfull.js"></script>
	<script type="text/javascript" src="js/tipsy/jquery.tipsy.js"></script>
	<script type="text/javascript" src="js/prettyPopin/jquery.prettyPopin.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.mousewheel.min.js"></script>
	<script type="text/javascript" src="js/carouFredSel/jquery.carouFredSel-6.2.0-packed.js"></script>
	<script type="text/javascript" src="js/jquery/jquery.waitforimages.js"></script>
	<script type="text/javascript" src="js/mdetect/mdetect.js"></script>
	<script type="text/javascript" src="js/configuration.js"></script>

	<!-- CUSTOM SCRIPTS FOR THIS PAGE -->
	<script type="text/javascript">
			$(document).ready(function() {
	
				//PRELOAD ALL IMAGES BEFORE SETTING UP THE CAROUSEL
				$('#canvas').waitForImages(function() {
				
					//SLIDER CAROUSEL
					$('#slider .images').carouFredSel({
						direction: 'left',
						items: {
							visible: 1
						},
						scroll: {
							duration: 1000,
							easing:	'easeInOutQuart',
							timeoutDuration: 4000
						},
						pagination: '#slider .pager',
						prev: {
							button: '.slider-navi .prev',
							fx: 'cover-fade',
							key: "left"
						},
						next: {
							button: '.slider-navi .next',
							fx: 'cover-fade',
							key: "right"
						}
					});

					//FADE IN ANIMATION
					$('#slider .preload').animate({ opacity:0 }, 500, 'easeOutQuad');
					$('#slider .images').animate({ opacity:1 }, 1000, 'easeOutQuad');
					$('#slider .overlay').animate({ opacity:1 }, 1000, 'easeOutQuad');
					$('.slider-navi').delay(1000).animate({ opacity:1 }, 1000, 'easeOutQuad');

					//TRIGGER CLICK EVENT TO DISPLAY SUBMENU
					//DISABLE IF YOU DON'T WANT THE SUBMENU APPEAR BY DEFAULT
					$('#menu #has-second').trigger('click');
				
				});
	
			});
	</script>

</head>

<body>

	<!-- FULLSCREEN HTML5 CONTAINER -->
	<div id="canvas" class="canvas">


		<!-- FULLSCREEN BACKGROUND -->
		<div id="backg">
			<img src="images/background.jpg" class="bg" alt="" />
		</div>
		
		
			
		<!-- HEADER --> 
		<div id="header">
			<a href="index.html"><img src="images/logo.png" alt="" /></a>
		</div>



		<!-- MENU -->
		<div id="menu">
				<ul>
					<li>
						<a href="#" class="menu-active" id="has-second">GALLERIES</a>
						<ul class="second-level">
							<li><a href="horizontal_gallery.html">HORIZONTAL GALLERY</a></li>
							<li><a href="fullscreen_gallery.html">FULLSCREEN GALLERY</a></li>
							<li><a href="grid_gallery.html">GRID GALLERY</a></li>
							<li><a href="slider_gallery.html" class="menu-active disabled">SLIDER GALLERY</a></li>
							<li><a href="video_gallery.html">HTML5 VIDEO</a></li>
							<li><a href="team.html">TEAM</a></li>
						</ul>
					</li>

					<li><a href="about.html">ABOUT</a></li>
					<li><a href="testimonials.html">TESTIMONIALS</a></li>
					<li><a href="news.html">NEWS</a></li>
					<li><a href="contact.html">CONTACT</a></li>
					<li><a href="blog.html">BLOG</a></li>
					<li><a href="http://www.google.com" target="_blank" class="external">LINK</a></li>
				</ul>
		</div>



		<!-- SOCIAL -->
		<div id="social">
			<ul>
				<li><a href="http://www.facebook.com/pezflash.previews" target="_blank" title="FACEBOOK"><img src="images/icon_facebook.png" alt="facebook"/></a></li>
				<li><a href="http://www.twitter.com/pezflash" target="_blank" title="TWITTER"><img src="images/icon_twitter.png" alt="twitter"/></a></li>
				<li><a href="http://www.pinterest.com/pezflash" target="_blank" title="PINTEREST"><img src="images/icon_pinterest.png" alt="pinterest"/></a></li>
				<li><a href="http://www.vimeo.com/pezflash" target="_blank" title="VIMEO"><img src="images/icon_vimeo.png" alt="vimeo"/></a></li>
			</ul>
		</div>


		<!-- MAIN CONTAINER -->
		<div id="container">

			<div id="slider">

				<!-- PRELOAD -->
				<div class="preload">
					<img src="images/preload2.gif" alt="" />
				</div>

				<!-- IMAGES -->
				<div class="images">
					<img src="images/galleries/slider/img_01.jpg" width="650" height="370" alt="" />
					<img src="images/galleries/slider/img_02.jpg" width="650" height="370" alt="" />
					<img src="images/galleries/slider/img_03.jpg" width="650" height="370" alt="" />
					<img src="images/galleries/slider/img_04.jpg" width="650" height="370" alt="" />
					<img src="images/galleries/slider/img_02.jpg" width="650" height="370" alt="" />
					<img src="images/galleries/slider/img_03.jpg" width="650" height="370" alt="" />
				</div>

				<!-- DESCRIPTION -->
				<div class="overlay">
					<div class="description">
						<span><span class="subtitle">HERE GOES<br/>THE PROJECT TITLE</span><br/>Sample of long description text. This a sample of project description. Accepts any HTML tags like <strong>Bold</strong> and <em>Italics </em> text and also external links like <a href="#"><u>this.</u></a> You can also set the <span style="color:#111;">font color</span> and use other charsets, for example: ÁáàäçÑ...<br/><br/><span class="subtitle">CLIENT</span><img src="images/galleries/logo_demo.png" alt="" /></span>
						<div class="pager"></div>
					</div>
				</div>

			</div>

			<div class="slider-navi">
				<img src="images/prev_bt.png" alt="" class="prev" />
				<img src="images/next_bt.png" alt="" class="next" />
			</div>

		</div>	
		<!-- END CONTAINER -->



		<!-- FOOTER -->
		<div id="footer">
			<ul>
				<li>Copyright KF&amp;KOI © 2013  - <a href="mailto:info@kfkoi.com">info@kfkoi.com</a></li>
				<li><a href="legal.html" data-rel="prettyPopin">Legal</a></li>
			</ul>
		</div>



		<!-- FULLSCREEN BUTTON -->
		<div id="fullscreen">
			<a href="#" title="GO FULLSCREEN"><img src="images/fullscreen_bt.png" alt="" /></a>
		</div>


	</div>

</body>
</html>
