        <div id="menu">
                <ul>
                    <li>
                        <a href="/">POETS</a>
                        <ul class="second-level">
                            <li><a id="A" href="/get_author/a" class="letter-link">A</a></li>
                            <li><a id="B" href="/get_author/b">B</a></li>
                            <li><a id="C" href="/get_author/c">C</a></li>
                            <li><a id="D" href="/get_author/d">D</a></li>
                            <li><a id="E" href="/get_author/e" class="letter-link">E</a></li>
                            <li><a id="F" href="/get_author/f">F</a></li>
                            <li><a id="G" href="/get_author/g">G</a></li>
                            <li><a id="H" href="/get_author/h">H</a></li>
                            <li><a id="I" href="/get_author/i">I</a></li>
                            <li><a id="J" href="/get_author/j">J</a></li>
                            <li><a id="K" href="/get_author/k">K</a></li>
                            <li><a id="L" href="/get_author/l">L</a></li>
                            <li><a id="M" href="/get_author/m">M</a></li>
                            <li><a id="N" href="/get_author/n">N</a></li>
                            <li><a id="O" href="/get_author/o">O</a></li>
                            <li><a id="P" href="/get_author/p">P</a></li>
                            <li><a id="Q" href="/get_author/q">Q</a></li>
                            <li><a id="R" href="/get_author/r">R</a></li>
                            <li><a id="S" href="/get_author/s">S</a></li>
                            <li><a id="T" href="/get_author/t">T</a></li>
                            <li><a id="U" href="/get_author/u">U</a></li>
                            <li><a id="V" href="/get_author/v">V</a></li>
                            <li><a id="W" href="/get_author/w">W</a></li>
                            <li><a id="X" href="/get_author/x">X</a></li>
                            <li><a id="Y" href="/get_author/y">Y</a></li>
                            <li><a id="Z" href="/get_author/z">Z</a></li>
                        </ul>
                    </li>

                    <li><a href="/search">SEARCH</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>                        
                </ul>
        </div>