        <div id="social">
            <ul>
                <li><a href="http://www.facebook.com/poetdb" target="_blank" title="FACEBOOK"><img src="images/icon_facebook.png" alt="facebook"/></a></li>
                <li><a href="http://www.twitter.com/poetdb" target="_blank" title="TWITTER"><img src="images/icon_twitter.png" alt="twitter"/></a></li>
                <li><a href="http://www.pinterest.com/poetdb" target="_blank" title="PINTEREST"><img src="images/icon_pinterest.png" alt="pinterest"/></a></li>             
            </ul>
        </div>